<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.example.Utils.AllureListner"/>
    </listeners>
    <test name="EmergencyWebApp_Suites" verbose="2" preserve-order="true">

        <classes>
            <class name="SignupPage"/>
            <class name="LoginPage"/>

            </classes>


    </test>
</suite>